@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@config "../tailwind.config.js";
@import "tailwindcss";

@layer base {
  h1 {
    @apply text-h1 font-header;
  }

  p {
    @apply text-primary text-supplement-white;
  }

  a {
    @apply text-primary-white;
  }
  a:hover {
    @apply text-vibrant-red;
  }
  ul {
    margin-left: 1em;
  }
  li {
    list-style: circle;
  }
  label {
    font-size: 1.2em;
  }
  input,
  textarea {
    @apply border-4 py-1 px-2 rounded-2xl border-dark-blue bg-input-grey text-dark-blue mb-1 min-w-full w-full;
  }
  textarea {
    @apply min-h-44;
  }
  @media (min-width: 768px) {
    input,
    textarea {
      @apply min-w-1/2;
    }
  }
  @media (min-width: 1023px) {
    input,
    textarea {
      @apply min-w-1/4;
    }
  }
}
